<section>
    <h2>Reserve Simulation Results</h2>

    <h3>Assumptions</h3>

    <p>The model was run with the following assumptions or parameters:</p>

    <ul>
        <li>Values defined with a low and high range will follow a uniform distribution.</li>
        <li>Year 1 is the current year and costs are not adjusted for inflation.</li>
        <li>Yearly inflation rate will fall between {{ mparam.inflation_rate[0] }} and {{ mparam.inflation_rate[1] }}.</li>
    </ul>

    <h3>Expenses and Sensitivity</h3>

    <h4>Expenses by Year</h4>

    {{ img_expenses_boxplot|safe }}

    <h4>Cumulative Expenses by Year</h4>

    {{ img_cum_expenses_boxplot|safe }}

    <h4>Sensitivity Analysis</h4>

    <p>These components and factors contributed 5&percnt; or more to the yearly expense uncertainty (Sobol's ST index). Additional
    research or mitigation may reduce the uncertainty.</p>

    <ol>
        {% for sobol in sobol_sensitivity %}
            <li>{{ sobol }}</li>
        {% else %}
            <li><em>None</em></li>
        {% endfor %}
    </ol>

    <p>These components and factors contributed at least 5&percnt; to the total expense amount over the study
    period.</p>

    <ol>
        {% for morris in morris_sensitivity %}
            <li>{{ morris }}</li>
        {% else %}}
            <li><em>None</em></li>
        {% endfor %}
    </ol>

    <h3>Reserve Balances and Contributions</h3>

    <h4>Fully Funded Balance (FFB)</h4>

    <p>This is a plot of the fully funded balance by year, using the 'most likely' or mean values for
    the remaining life, cost, and inflation rate.</p>

    {{ img_ffb|safe }}

    <h4>FFB Cashflow and Contributions</h4>

    <p>Tables showing fully funded balance per year (initial and end), with annual contributions computed
    against expenses for that year. Although computations are run against the full
    30-year horizon, this table shows a shorter horizon for legibility. Amounts are in $k and include
    inflation. Contributions do not include any adjustments for interest income. Best case uses the minimal
    inflation estimate and the smallest simulated cost for each year, while worst cases use the maximal
    inflation estimate and the largest simulated cost for each year. Thus, the range between best and worst
    case enclose approximately 100&percnt; of known variability. The most likely case is based on the median
    component, mid-point inflation, and median simulated costs.</p>

    {% for ffb_cashflow in ffb_cashflows %}
        <table>
            <caption>Scenario - {{ ['Best Case', 'Most Likely', 'Worst Case'][loop.index0] }}</caption>
            <thead>
                <tr>
                    <th>Category</th>
                    {% for _ in ffb_cashflow[0] %}
                        <th>Year {{ loop.index }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for cat in ['FFB (Initial)', 'Expenses', 'Contribution', 'FFB (EoY)'] %}
                <tr>
                    <td>{{ cat }}</td>
                    {% for v in ffb_cashflow[loop.index0] %}
                        <td style="text-align: right;">{{ (v / 1000)|round(1) }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    {% endfor %}

    <h4>CDF of Probability of FFB Consumption</h4>

    <p>Using the weighted probabilities of the component inventory needing replacement in the first year,
    this plots the balance required to meet those weighted probabilities. &quot;Fully Funded&quot; is
    equivalent to 100&percnt; of the weighted probabilities. This does not imply zero risk.</p>

    {{ img_ffb_cdf|safe }}

</section>
